<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="telegram_api_id" value="85920"/>
    <add key="telegram_api_hash" value="406fb369155daab4c43993bc9a06efc5"/>
    <add key="telegram_phone_number" value="16174190084"/>
  </appSettings>
</configuration>