<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings file="App.SECRET.config">
    <!-- Get 'Telegram API ID' and 'API Hash' from: https://my.telegram.org/apps -->
    <add key="telegram_api_id" value="{Telegram API ID}"/>
    <add key="telegram_api_hash" value="{Telegram API Hash}"/>
    <add key="telegram_phone_number" value="{Your phone number, like: 19876543210}"/>
  </appSettings>
</configuration>