<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="telegram_api_id" value="{Telegram API ID}"/>
    <add key="telegram_api_hash" value="{Telegram API Hash}"/>
    <add key="telegram_phone_number" value="{Telegram Phone Number}"/>
  </appSettings>
</configuration>