<div class="jumbotron">
    <h1>Telegtools</h1>
    <p class="lead">Telegtools is a free framework for tinkering with <a href="https://telegram.org/">Telegram.</a></p>
    <p><a href="https://github.com/Thrita/Telegtools" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="https://github.com/Thrita/Telegtools/wiki">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="https://github.com/Thrita">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Thrita</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://thrita.com">Learn more &raquo;</a></p>
    </div>
</div>
